# Basic dev requirements.
Flask==0.9
Flask-SQLAlchemy==0.16
alembic==0.4.0
gunicorn==0.14.6
requests==0.13.5
# Testing requirements.
Flask-Testing==0.4
nose==1.1.2
coverage==3.5.2
# Easy config for running on heroku.
flask-heroku==0.1.3
