# Basic dev requirements.
Flask==0.9
Flask-SQLAlchemy==0.16
alembic==0.4.1
gunicorn==0.14.6
# DB
psycopg2==2.4.5
# Testing requirements.
Flask-Testing==0.4
nose==1.1.2
coverage==3.5.2
# Easy(ish) config for running on heroku.
flask-heroku==0.1.3
# Dependencies for support scripts.
requests==1.0.4
html5lib==0.95
lxml==3.0.1
python-dateutil==2.1
